:root {
  --font-size-12: 14px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --font-size-45: 45px;
  --font-size-48: 48px;
  --font-size-60: 60px;
  --font-size-70: 70px;


  --gap-10: 10px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-16: 16px;
  --gap-24: 24px;
  --gap-30: 30px;
  --gap-88: 88px;


  --margin-block: 0 0 80px;
  --margin-block-not-front: 0 0 25px;
  --margin-header: 0 -36px;
  --margin-h1: 0 0 32px;
  --margin-catalog-block: 0 0 80px;

  --padding-header: 16px 0 34px 36px;
  --padding-footer: 14px 36px 24px 43px;
  --padding-navigation: 16px 36px;
  --padding-copyrights: 12px 43px;

  --padding-header-logo-img: 0 36px 0 0;
  --padding-footer-logo-img: 36px 0 0 36px;

  --padding-banner: 0 24px;
  --padding-search: 10px 16px 10px 16px;

  .desctop-lap({
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 16px;
    --font-size-18: 18px;
    --font-size-20: 18px;
    --font-size-22: 20px;
    --font-size-24: 20px;
    --font-size-26: 24px;
    --font-size-28: 25px;
    --font-size-30: 25px;
    --font-size-40: 30px;
    --font-size-45: 40px;
    --font-size-48: 45px;
    --font-size-60: 50px;
    --font-size-70: 60px;


    --gap-10: 10px;
    --gap-12: 12px;
    --gap-14: 14px;
    --gap-16: 14px;
    --gap-24: 20px;
    --gap-30: 25px;
    --gap-88: 70px;


    --margin-block: 0 0 35px;
    --margin-block-not-front: 0 0 25px;
    --margin-header: 0 -36px;
    --margin-h1: 0 0 30px;
    --margin-catalog-block: 0 0 60px;

    --padding-header: 14px 0 32px 36px;
    --padding-footer: 14px 36px 20px 30px;
    --padding-navigation: 12px 36px;
    --padding-copyrights: 12px 30px;

    --padding-header-logo-img: 0 36px 0 0;
    --padding-footer-logo-img: 36px 0 0 36px;

    --padding-banner: 10px 24px;
    --padding-search: 10px 16px 10px 16px;
  });
  .desctop-tab({
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 14px;
    --font-size-17: 16px;
    --font-size-18: 16px;
    --font-size-20: 18px;
    --font-size-22: 18px;
    --font-size-24: 20px;
    --font-size-26: 22px;
    --font-size-28: 20px;
    --font-size-30: 20px;
    --font-size-40: 25px;
    --font-size-45: 35px;
    --font-size-48: 40px;
    --font-size-60: 40px;
    --font-size-70: 50px;


    --gap-10: 10px;
    --gap-12: 10px;
    --gap-14: 12px;
    --gap-16: 12px;
    --gap-24: 16px;
    --gap-30: 20px;
    --gap-88: 50px;


    --margin-block: 0 0 35px;
    --margin-block-not-front: 0 0 25px;
    --margin-header: 0 -36px;
    --margin-h1: 0 0 30px;
    --margin-catalog-block: 0 0 40px;

    --padding-header: 14px 0 32px 36px;
    --padding-footer: 12px 36px 12px 14px;
    --padding-navigation: 12px 12px 12px 36px;
    --padding-copyrights: 12px 14px;

    --padding-header-logo-img: 10px 36px 0 0;
    --padding-footer-logo-img: 46px 0 0 36px;

    --padding-banner: 10px 24px;
    --padding-search: 10px 16px 10px 16px;
  });
  .desctop-mob({
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-15: 14px;
    --font-size-16: 14px;
    --font-size-17: 14px;
    --font-size-18: 16px;
    --font-size-20: 16px;
    --font-size-22: 16px;
    --font-size-24: 18px;
    --font-size-26: 18px;
    --font-size-28: 20px;
    --font-size-30: 20px;
    --font-size-40: 20px;
    --font-size-45: 25px;
    --font-size-48: 28px;
    --font-size-60: 30px;
    --font-size-70: 25px;


    --gap-10: 10px;
    --gap-12: 10px;
    --gap-14: 12px;
    --gap-16: 12px;
    --gap-24: 12px;
    --gap-30: 16px;
    --gap-88: 35px;


    --margin-block: 0 0 35px;
    --margin-block-not-front: 0 0 25px;
    --margin-header: 0;
    --margin-h1: 0 0 30px;
    --margin-catalog-block: 0 0 35px;

    --padding-header: 12px 24px;
    --padding-footer: 20px 0;
    --padding-navigation: 0;
    --padding-copyrights: 12px 0;

    --padding-header-logo-img: 0;
    --padding-footer-logo-img: 0;

    --padding-banner: 24px 24px;
    --padding-search: 10px 16px 10px 16px;
  });

  --margin-footer: var(--margin-header);


  --catalog-gap-x: clamp(20px, 3vw, 30px);
  --catalog-gap-y: clamp(16px, 2vw, 24px);
  --catalog-padding: clamp(14px, 2vw, 18px);
}